<div class="card mb-4">
  <div class="card-header bg-success text-white">Add product</div>
  <div class="card-body">
    <form (ngSubmit)="addProduct(form)" #form="ngForm">
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Description</span>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="description"
            [(ngModel)]="newProduct.description"
          />
        </div>
      </label>
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Price</span>
        <div class="col-sm-10">
          <input type="number" class="form-control" name="price" [(ngModel)]="newProduct.price" />
        </div>
      </label>
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end">Available</span>
        <div class="col-sm-10">
          <input
            type="date"
            class="form-control"
            name="available"
            [(ngModel)]="newProduct.available"
          />
        </div>
      </label>
      <label class="mb-3 row">
        <span class="col-sm-2 col-form-label text-sm-end"> Image</span>
        <div class="col-sm-10">
          <input
            type="file"
            class="form-control"
            accept="image/*"
            #imageInput
            (change)="changeImage(imageInput)"
            name="fileName"
            ngModel
          />
        </div>
      </label>
      @if (newProduct.imageUrl) {
        <div class="row mb-3">
          <div class="col-sm-10 offset-sm-2">
            <img class="product-img" [src]="newProduct.imageUrl" alt="" />
          </div>
        </div>
      }

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card">
  <div class="card-header bg-primary text-white">Mi lista de productos</div>
  <div class="card-block">
    <div class="row py-3">
      <label class="col-form-label col-sm-2 text-sm-end" for="filterDesc">
        Filter:
      </label>
      <div class="col-sm-5">
        <input type="text" [(ngModel)]="search" class="form-control" id="filterDesc" placeholder="Filter..." />
      </div>
      <div class="col-form-label col-sm-5">
        Filtered by: {{ search() }}
      </div>
    </div>
    @if (productsFiltered().length) {
      <div class="table-responsive">
        <table class="table table-striped m-0">
          <thead>
            <tr>
              <th>
                @let btnText = (showImage() ? 'Hide' : 'Show') + ' images';
                <button
                  class="btn btn-sm"
                  [class]="showImage() ? 'btn-danger' : 'btn-primary'"
                  (click)="toggleImage()"
                >
                  {{ btnText }}
                </button>
              </th>
              <th>Producto</th>
              <th>Precio</th>
              <th>Disponible</th>
            </tr>
          </thead>
          <tbody>
            @for (product of productsFiltered(); track product.id) {
              <tr>
                <td>
                  @if (showImage()) {
                    <img
                      [src]="product.imageUrl"
                      [title]="product.description | uppercase"
                      alt=""
                    />
                  }
                </td>
                <td [class]="{ 'text-danger': $even, 'text-success': $odd }">
                  {{ product.description }}
                </td>
                <!-- <td [class]="$even ? 'text-danger': 'text-success'">{{ product.description }}</td> -->
                <!-- <td [class.text-danger]="$even" [class.text-success]="$odd">{{ product.description }}</td> -->
                <td>{{ product.price | intlCurrency:'EUR':'es' }}</td>
                <td>{{ product.available | date:'dd/MM/yyyy' }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <h3>No hay productos para mostrar</h3>
    }
  </div>
</div>
